/* 1. Use a more-intuitive box-sizing model */

html {
  font-size: 62.5%;
  --color-link: hsl(200 100% 20%);
  --color-highlight: hsl(40 90% 40%);
  --button-primary: hsl(0 100% 50%);
  --button-alternate: hsl(200 100% 80%);
  --color-white: hsl(200 10% 95%);
  --color-text-light: hsl(200 10% 35%);
  --color-text-dark: hsl(200 10% 10%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  display: flex;
  font-size: 1.8rem;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: var(--color-text-dark);
  font-family: 'Google Sans', sans-serif;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  font-family: inherit;
  font-weight: 500;
  padding: 1rem 2rem;
}
